<div class="container">
  <div class="second-container">
    <h1><%= @flat.name.capitalize %></h1>
    <div class="panel-body">
      <%= form_for(@flat) do |f| %>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :name %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_field :name, id: 'no-border' %>
        </div>
      </div>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :address %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_field :address, id: 'no-border' %>
        </div>
      </div>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :description %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_area :description %>
        </div>
      </div>





      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :feature %>
        </div>
        <div class="text-left col-sm-9">
          <% objects = ['wifi', 'tv', 'table'] %>
          <%= f.check_box :feature, :collection => objects %>
        </div>
      </div>


      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :price_per_day %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_field :price_per_day, id: 'no-border' %>
        </div>
      </div>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :photo %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.file_field :photo, id: 'no-border' %>
        </div>
      </div>
    </div>
  </div>
  <div class="third-container">
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
