<div class="container">
  <div class="second-container">
    <h1><%= @flat.name.capitalize %></h1>
    <div class="panel-body">
      <%= form_for(@flat) do |f| %>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :name %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_field :name, id: 'no-border' %>
        </div>
      </div>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :address %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_field :address, id: 'no-border' %>
        </div>
      </div>
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <%= f.label :description %>
        </div>
        <div class="text-left col-sm-9">
          <%= f.text_area :description %>
        </div>
      </div>

<!-- fini   -->
    <div class="form-group string required flat_feature">
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <label class="form-control-label string required" for="flat_feature">Features <abbr title="required">*</abbr>
          </label>
        </div>
        <div class="categories-choices text-left col-sm-9" id="no-border">
          <div class="form-group string required flat_feature" id="edit-category">

            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.wifi ? "active" : ""}"  %>
              <%= f.label :wifi, :class => teste %>
              <%= f.check_box :wifi, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.meeting_room ? "active" : ""}"  %>
              <%= f.label :meeting_room, :class => teste %>
              <%= f.check_box :meeting_room, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.projector ? "active" : ""}"  %>
              <%= f.label :projector, :class => teste %>
              <%= f.check_box :projector, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.screen ? "active" : ""}"  %>
              <%= f.label :screen, :class => teste %>
              <%= f.check_box :screen, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.speaker ? "active" : ""}"  %>
              <%= f.label :speaker, :class => teste %>
              <%= f.check_box :speaker, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.games ? "active" : ""}"  %>
              <%= f.label :games, :class => teste %>
              <%= f.check_box :games, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.storage ? "active" : ""}"  %>
              <%= f.label :storage, :class => teste %>
              <%= f.check_box :storage, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.coffee ? "active" : ""}"  %>
              <%= f.label :coffee, :class => teste %>
              <%= f.check_box :coffee, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.fridge ? "active" : ""}"  %>
              <%= f.label :fridge, :class => teste %>
              <%= f.check_box :fridge, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.teapot ? "active" : ""}"  %>
              <%= f.label :teapot, :class => teste %>
              <%= f.check_box :teapot, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
              <% teste = "category-choice #{@flat.kitchen ? "active" : ""}"  %>
              <%= f.label :kitchen, :class => teste %>
              <%= f.check_box :kitchen, :class => "hidden" %>
            </div>
            <div class="col-sm-4 text-center" style="height: 88px;">
            <% teste = "category-choice #{@flat.printer ? "active" : ""}"  %>
            <%= f.label :printer, :class => teste %>
            <%= f.check_box :printer, :class => "hidden" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row row-condensend space-4">
      <div class="text-right col-sm-3">
        <%= f.label :price_per_day %>
      </div>
      <div class="text-left col-sm-9">
        <%= f.text_field :price_per_day, id: 'no-border' %>
      </div>
    </div>
    <div class="row row-condensend space-4">
      <div class="text-right col-sm-3">
        <%= f.label :photo %>
      </div>
      <div class="text-left col-sm-9">
        <%= f.file_field :photo, id: 'no-border' %>
      </div>
    </div>
  </div>
  <div class="third-container">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Delete', edit_flat_path(@flat), method: :delete, data: { confirm: "Are you sure" }, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
