<div class="banner">
  <div class="banner-content" id="banner-id">
    <h1>Discover new places to work<br>amongst thousands of homes</h1>
    <p><span id="banner-typed-text"></span></p>
    <br>
    <br>
    <br>
    <div class="row row-condensend space-4" style="justify-content: center;">
       <%= form_tag flats_path, method: :get do %>
       <div class="col-sm-7 search">
         <%= text_field_tag :query, params[:query], class: "form-control ", placeholder: "Location"%>
       </div>
       <div class="text-left col-sm-5">
         <%= submit_tag("Search", :class => "btn btn-success", :id => "search-input") %>
       </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main-container" id="cards">
  <h1 style="font-size: 50px;">All the flats</h1>
  <div class="card-container">

    <% @flats.each do |flat| %>
     <% if flat.photo.blank? %>

        <div class ="row row-condensend">
          <div class="col-4">
            <%= link_to flat_path(flat), :class => "link" do %>
              <div class="card">

                <div class ="card-image" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.75) 80%), url('https://picsum.photos/300/300/?random');">
                   <i class="far fa-heart" data-cardSelectedfarfaheart></i>
                </div>
                  <div class="card-content"><% flat.name %>
                    <h5 style="color: rgb(253, 251, 249);"><%= flat.name %></h5>
                    <p><%= flat.address %></p>
                    <span><%= flat.price_per_day %><%= '€ /day' %></span>
                  </div>
                   <hr>
              <% end %>
            </div>
          </div>
        </div>

      <% else %>

        <div class ="row row-condensend">
          <div class="col-4">
            <%= link_to flat_path(flat), :class => "link" do %>
              <div class="card">
                <div class ="card-image" style="background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.75) 80%), url('<%= cl_image_path flat.photo %>');">
                <i class="far fa-heart" data-cardSelectedfarfaheart></i>
                </div>
                <div class="card-content"><% flat.name %>
                  <h5 style="color: rgb(253, 251, 249);"><%= flat.name %></h5>
                  <p><%= flat.address %></p>
                  <span><%= flat.price_per_day %><%= '€ /day' %></span>
                </div>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      <%end %>
    <% end %>


    <div
      id="map"
      style="width: 80%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>




