<div class="container">
  <div class="second-container">
    <h1><%= @flat.name.capitalize %></h1>
    <div class="panel-body">
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p><strong>Address</strong></p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
          <p> <%= @flat.address %></p>
        </div>
      </div>

      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p><strong>Description</strong></p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
          <p> <%= @flat.description %> </p>
        </div>
      </div>

      <div class="row row-condensend space-4" style="text-align: center;">
        <div class="text-right col-sm-3">
          <p><strong>Feature</strong></p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
          <% if @flat.wifi %>
            <i class="fas fa-wifi"></i>
              <p> Wifi</p>
            <% end %>
            <% if @flat.meeting_room %>
              <p> Salle de réunion </p>
            <% end %>
            <% if @flat.projector %>
              <p> Projector </p>
            <% end %>
            <% if @flat.screen %>
              <p> TV Screen </p>
            <% end %>
            <% if @flat.speaker %>
              <p> Loud speaker </p>
            <% end %>
            <% if @flat.games %>
            <i class="fas fa-gamepad"></i>
              <p> Video games </p>
            <% end %>
            <% if @flat.storage %>
              <p> Place for storage </p>
            <% end %>
            <% if @flat.coffee %>
            <i class="fas fa-coffee"></i>
              <p> Coffee machine</p>
            <% end %>
            <% if @flat.teapot %>
              <p> Teapot </p>
            <% end %>
            <% if @flat.kitchen %>
              <p> Kitchen </p>
            <% end %>
            <% if @flat.printer %>
            <i class="fas fa-print"></i>
              <p> Printer </p>
            <% end %>
        </div>
      </div>

      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p><strong>Price</strong></p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
          <p> <%= @flat.price_per_day %> <%= '€' %> </p>
        </div>
      </div>

      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p><strong>Reviews</strong></p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
            <% @flat.reviews.each do |review| %>
        <div class="row-condensed">
          <span><em>"<%= review.content %>"</em></span><span id="stars"><%= '☆'*review.rating %></span>
        </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="img">
      <% unless @flat.photo.blank? %>
      <%= cl_image_tag @flat.photo, height: 250, width: 350, crop: :fill  %>
      <% end %>
    </div>
  </div>

  <div class="third-container">
    <div class="col">
      <% if policy(@flat).edit? %>
        <%= link_to 'Edit your flat', edit_flat_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col">
     <%= link_to 'Book this Flat', flat_bookings_path(@flat), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

