<div class="container">
  <div class="second-container">
    <h1><%= @flat.name.capitalize %></h1>
    <div class="panel-body">
      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p>Address</p>
        </div>
        <div class="text-left col-sm-9">
          <p> <%= @flat.address %></p>
        </div>
      </div>

      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p>Description</p>
        </div>
        <div class="text-left col-sm-9">
          <p> <%= @flat.description %> </p>
        </div>
      </div>

      <div class="row row-condensend space-4">
        <div class="text-right col-sm-3">
          <p>Price</p>
        </div>
        <div class="text-left col-sm-9">
          <p> <%= @flat.price_per_day %> <%= '€' %> </p>
        </div>
      </div>

      <div class="row">
        <div class="text-right col-sm-3">
          <p>Reviews</p>
        </div>
        <div class="text-left col-sm-9" id="no-border">
            <% @flat.reviews.each do |review| %>
        <div class="row-condensed">
          <span><em>"<%= review.content %>"</em></span><span id="stars"><%= '☆'*review.rating %></span>
        </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="img">
      <% unless @flat.photo.blank? %>
      <%= cl_image_tag @flat.photo, height: 250, width: 350, crop: :fill  %>
      <% end %>
    </div>
  </div>

  <div class="third-container">
    <div class="col">
      <% if policy(@flat).edit? %>
        <%= link_to 'Edit your flat', edit_flat_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col">
     <%= link_to 'Book this Flat', flat_bookings_path(@flat), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

