<div class="container">
  <div class="second-container">
    <h1>Pick your dates</h1>
    <h2><%= @flat.name %></h2>
    <%= simple_form_for [@flat, @booking] do |f| %>
      <div class="row row-condensend">
        <div class="col-sm-12">
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
      </div>
      <div class="row row-condensend">
        <div class="col-sm-12">
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}  %>
          <div>
              <br>Vous avez selectionné:
            <span id="days"></span></br>
              <br>Votre prix est de:
            <span id="price_per_day"></span></br>
          </div>
        </div>
      </div>
  </div>
  <div class="third-container">
    <%= f.submit "BOOK", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>





